

<ngb-carousel>
    <ng-template ngbSlide>
      <div class="col-5">
        <img src="../assets/images/SVG/university_of_portsmouth_logo.svg" alt="University of Portsmouth logo">
      </div>
      <div class="carousel-caption col-5">
        <h3>University of Portsmouth (Psychology Department)</h3>
        <p>Created an open forum for mental health issues covering all ages.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="col-5">
        <img src="../assets/images/SVG/vodafone_logo.svg" alt="vodafone logo">
      </div>
      <div class="carousel-caption col-6">
        <h3>Vodafone Business Portal</h3>
        <p>Helped build a new business customer information site using Wordpress.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="col-5">
        <img src="../assets/images/SVG/university-of-southampton_logo.svg" alt="University of Southampton logo">
      </div>
      <div class="carousel-caption col-6">
        <h3>University of Southampton</h3>
        <p>Responsible for over 350 student Wordpress sites.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="col-5">
        <img src="../assets/images/SVG/condor_ferries_logo.svg" alt="Condor Ferries logo">
      </div>
      <div class="carousel-caption col-5">
        <h3>Condor Ferries</h3>
        <p>Helped with updating the Condor Ferries website.</p>
      </div>
    </ng-template>
  </ngb-carousel>

  
  
  