//@import "../../node_modules/bootstrap/scss/carousel";

ngb-carousel {
    width: 100%;
    min-height: 300px;
    &:hover {
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -o-animation-play-state: running ;
        animation-play-state: running ;
    }
    &:hover  .carousel-item.active{
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -o-animation-play-state: running ;
        animation-play-state: running ;
    }
}

.carousel-inner {
    overflow: visible;
}
.carousel-item {
    display: flex !important;
    z-index: -1;
    position: absolute;
    min-height: 300px;

    justify-content: space-around;
    
  
    .col-6 {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }

    img {
        max-height: 250px;
        margin: 20px;
    }

   
}
.carousel-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 10;
    -webkit-animation: slides 5s infinite;
    -moz-animation:    slides 5s infinite; 
    -o-animation:      slides 5s infinite; 
    animation:         slides 5s infinite; 
}
.carousel-caption {
    display: flex;
    flex-direction: column;
    position: relative;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    background-color:#666;;
    padding: 20px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 30px;
    height: 30px;
    background-size: 50% 50%;
    background-color: $orange;
    border-radius: 50%;
}
.carousel-control-prev {
     z-index: 0;
     opacity: 0;
     visibility: hidden;
}
.carousel-control-next {
     z-index: 0;
     opacity: 0;
     visibility: hidden;
}
.carousel-indicators{
    z-index: 0;
    opacity: 0;
    visibility: hidden;
}


///////////////////// animations 
.carousel-item {
    opacity: 0;
    visibility: hidden;
}

.carousel-item.active .col-6 {
    /* -webkit-animation: slides 5s infinite;
    -moz-animation:    slides 5s infinite; 
    -o-animation:      slides 5s infinite; 
    animation:         slides 5s infinite; 
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running ;
     animation-play-state: running ; */
}
.carousel-item.active .carousel-caption {
    /*-webkit-animation: slides 5s infinite; 
    -moz-animation:    slides 5s infinite; 
    -o-animation:      slides 5s infinite; 
    animation:         slides 5s infinite; 
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running;
     animation-play-state: running;*/
}

.carousel-item.active:hover .carousel-item, .carousel-item.active:hover  > .carousel-caption, .carousel-item.active:hover  > .col-6 {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    -o-animation-play-state: running ;
     animation-play-state: running ;
}
@keyframes slides {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    10% {
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        visibility: visible;
    }
    92% {
        transform: scale(1);
        
    }
    96% {
        transform: scale(1.05);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
        visibility: hidden;
    }
  }