.st0 {
    -webkit-animation: movement 30s infinite; /* Safari 4+ */
    -moz-animation:    movement 30s infinite; /* Fx 5+ */
    -o-animation:      movement 30s infinite; /* Opera 12+ */
    animation:         movement 30s infinite; /* IE 10+, Fx 29+ */
    animation-timing-function: linear;
    stroke-dasharray: 500;
    stroke-dashoffset:500;

}
@keyframes movement {
    0% {

    }
    30% {
        stroke:$orange;
        stroke-width: 0.2px;
    }
    50% {
        opacity: 1;
        stroke: grey;

    }
    90% {
        stroke:$orange;
        stroke-width: 1px;
    }
    92% {
        stroke: rgb(34, 220, 233);
    }
    100% {
        stroke-width: 1px;
        stroke-dasharray:500;
    stroke-dashoffset:0;
    }
}

.st1 {
    -webkit-animation: movement2 60s infinite; /* Safari 4+ */
    -moz-animation:    movement2 60s infinite; /* Fx 5+ */
    -o-animation:      movement2 60s infinite; /* Opera 12+ */
    animation:         movement2 60s infinite; /* IE 10+, Fx 29+ */
    animation-timing-function: linear;
    stroke-dasharray: 500;
    stroke-dashoffset:500;
}
@keyframes movement2 {
    0% {

    }
    30% {
        stroke: $orange;
        stroke-width: 0.2px;
    }
    43% {
        stroke-width: 0.5px;
    }
    50% {
        stroke-width: 0.3px;
        stroke: grey;
        stroke-dasharray: 500;
        stroke-dashoffset: 0;
    }
    90% {
        stroke:$orange;
        stroke-width: 0.5px;
    }
    92% {
        stroke: rgb(34, 220, 233);
    }
    100% {
        stroke-width: 1px;
        stroke-dasharray: 500;
        stroke-dashoffset:500;
    }
}

///////////////// HOMEPAGE CHART ANIMATION
.animation-line {
    -webkit-animation: line 1s forwards; /* Safari 4+ */
    -moz-animation:    line 1s forwards; /* Fx 5+ */
    -o-animation:      line 1s forwards; /* Opera 12+ */
    animation:         line 1s forwards; /* IE 10+, Fx 29+ */
    animation-timing-function: linear;
    stroke-dasharray: 1000;
    stroke-dashoffset:1000;
}
.cls-1{
    stroke:#707070;
    @extend .animation-line;
}
.cls-11,.cls-13,.cls-15,.cls-18,.cls-19,.cls-2,.cls-20,.cls-21,.cls-22,.cls-5{
    stroke: $orange;
    @extend .animation-line;
}
.cls-3{stroke:#399;}
.cls-4{fill:#666;}
.cls-11,.cls-13,.cls-15,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-5{
    stroke-width:6px;
}
.cls-5{stroke-dasharray:12.34 12.34;}
.cls-6,.cls-9{isolation:isolate;fill:#fff;font-family:SegoeUI, Segoe UI;}
.cls-6{font-size:16px;}
.cls-7{letter-spacing:0em;}
.cls-9{font-size:15.86px;}
.cls-10{letter-spacing:0em;}
.cls-11{stroke-dasharray:12.02 12.02;}
.cls-12{letter-spacing:0em;}
.cls-13{stroke-dasharray:11.4 11.4;}
.cls-14{stroke-dasharray:11.82 11.82;}
.cls-15{stroke-dasharray:11.46 11.46;}
.cls-16{letter-spacing:0em;}
.cls-17{stroke-dasharray:12.15 12.15;}
.cls-18{stroke-dasharray:12.17 12.17;}
.cls-19{stroke-dasharray:11.59 11.59;}
.cls-20{stroke-dasharray:12.16 12.16;}
.cls-21{stroke-dasharray:11.78 11.78;}
.cls-22{stroke-dasharray:11.49 11.49;}
.cls-23{stroke-dasharray:11.72 11.72;}
.cls-24{stroke-dasharray:11.71 11.71;}

#Line_1 {
    animation-delay: 5s;
    stroke-dasharray: 180;
    stroke-dashoffset:180;
}
#Line_2-2, #Line_2 {
    animation-delay: 7s;
    stroke-dasharray: 180;
    stroke-dashoffset:180;
}
#Line_4 {
    animation-delay: 9s;
    stroke-dasharray: 180;
    stroke-dashoffset:180;
}
#Line_5 {
    animation-delay: 11s;
    stroke-dasharray: 180;
    stroke-dashoffset:180;
}
#Line_6, #Line_6-1, #Line_6-2, #Line_6-3, #Line_6-4 {
    animation-delay: 13s;
    stroke-dasharray: 400;
    stroke-dashoffset:400;
}
#Line_8, #Line_8-1, #Line_8-2, #Line_8-3, #Line_8-4, #Line_23 {
    animation-delay: 15s;
    stroke-dasharray: 400;
    stroke-dashoffset:400;
}
#Line_angular_3,  #Line_angular_4, #Line_angular_4-1, #Line_angular_4-2, #Line_angular_4-3,  #Line_angular_4-4{
    animation-delay: 19s;
    stroke-dasharray: 400;
    stroke-dashoffset:400;
}
#Line_angular_5, #Line_angular_5-1, #Line_angular_5-2, #Line_angular_5-3, #Line_angular_5-4 {
    animation-delay: 21s;
    stroke-dasharray: 400;
    stroke-dashoffset:400;
}
#Line_angular_6 {
    animation-delay: 23s;
    stroke-dasharray: 400;
    stroke-dashoffset:400;
}
#Line_angular_7, #Line_4-2, #Line_7  {
    opacity: 0;
}
.animation-opacity-rotate {
    -webkit-animation:  rotate 6s 2s infinite linear; /* Safari 4+ */
    -moz-animation:     rotate 6s 2s infinite linear; /* Fx 5+ */
    -o-animation:       rotate 6s 2s infinite linear; /* Opera 12+ */
    animation:          rotate 6s 2s infinite linear; /* IE 10+, Fx 29+ */  
}
.animation-bounceIn {
    -webkit-animation: bounceIn 2s forwards; /* Safari 4+ */
    -moz-animation:    bounceIn 2s forwards; /* Fx 5+ */
    -o-animation:      bounceIn 2s forwards; /* Opera 12+ */
    animation:         bounceIn 2s forwards; /* IE 10+, Fx 29+ */  
}
#bootstrap, #api, #gulp, #node, #xd, #php, #ai, #ps, #jquery, #webpack, #bower, #bootstrap, #scss, #wordpress, #js, #angular {
    @extend .animation-bounceIn;
    opacity: 0;
}
#webpack-bg, #api-bg, #angular-bg{
    fill: lightslategray;
}
#bootstrap, #bootstrap-ellipse {
    transform-origin: 394px 327px;
    animation-delay: 12s;
}
#api, #api-ellipse {
    transform-origin: 54px 350px;
    animation-delay: 22s;   
}
#gulp, #gulp-ellipse {
    transform-origin: 590px 125px;
    animation-delay: 10s;       
}
#node, #node-ellipse {
    transform-origin: 724px 215px; 
    animation-delay: 6s;     
}
#xd, #xd-ellipse {
    transform-origin: 883px 277px;
    animation-delay: 4s;   
}
#php, #php-ellipse {
    transform-origin: 273px 56px;
    animation-delay: 14s; 
}
#ai, #ai-ellipse {
    transform-origin: 937px 398.7px;
    animation-delay: 2s;
}
#ps, #ps-ellipse {
    transform-origin: 964.5px 136.7px;
    animation-delay: 2s;   
}
#jquery, #jquery-ellipse {
    transform-origin: 460.5px 59.5px;
    animation-delay: 12s; 
}
#webpack, #webpack-ellipse {
    transform-origin: 715px 436px;
    animation-delay: 18s; 
}
#bower, #bower-ellipse {
    transform-origin: 670px 47px;
    animation-delay: 8s;      
}
#scss, #scss-ellipse {
    transform-origin: 406px 466px;
    animation-delay: 12s; 
}
#wordpress, #wordpress-ellipse {
    transform-origin: 101px 203px;
    animation-delay: 14s; 
}
#js, #js-ellipse {
    transform-origin: 441px 177px;
    animation-delay: 12s;   
}
#angular, #angular-ellipse {
    transform-origin: 179px 437px;
    animation-delay: 20s;   
}


#bootstrap-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#api-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#gulp-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#node-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#xd-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 3.5s;
}
#php-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#ai-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 1s;
}
#ps-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 1s;
}
#jquery-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#webpack-ellipse {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#bower-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#scss-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#wordpress-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#js-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}
#angular-ellipse  {
    @extend .animation-opacity-rotate;
    animation-delay: 0s;
}



@keyframes line {
    from {
    }
    to {
      stroke-dashoffset: 0;
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    75% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    75% {
     
    }
    100% {
        opacity: 1;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    75% {
        
    }
    100% {
        transform: rotate(360deg);
        
    }
}
