<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid d-flex bg-grey">

    
  <div class="col-2">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 262.5 200.4" style="enable-background:new 0 0 262.5 200.4;" xml:space="preserve">
      <style type="text/css">
        .st0{opacity:0.34;fill:#FFFFFF;enable-background:new    ;}
        .st1{fill:#F5F5F5;}
        .st2{fill:#FF6C3E;}
        .st3{opacity:0.81;fill:#FF6C3E;enable-background:new    ;}
        .st4{opacity:0.57;fill:#FF6C3E;enable-background:new    ;}
        .st5{opacity:0.79;fill:#FFFFFF;enable-background:new    ;}
      </style>
      <g id="circles" transform="translate(4944 93)">
        <ellipse id="Ellipse_28" class="st0" cx="-4761.8" cy="-3.2" rx="26.4" ry="26.7"/>
        <ellipse id="Ellipse_29" class="st0" cx="-4706" cy="-18" rx="24.5" ry="24.7"/>
        <ellipse id="Ellipse_30" class="st0" cx="-4832.3" cy="-12" rx="26.4" ry="26.7"/>
        <ellipse id="Ellipse_31" class="st0" cx="-4909.7" cy="-56.5" rx="13.7" ry="13.8"/>
        <ellipse id="Ellipse_32" class="st1" cx="-4868.6" cy="-38.7" rx="22.5" ry="22.7"/>
        <ellipse id="Ellipse_33" class="st2" cx="-4811.8" cy="45.2" rx="40.2" ry="40.5"/>
        <ellipse id="Ellipse_34" class="st3" cx="-4896" cy="79.8" rx="27.4" ry="27.6"/>
        <ellipse id="Ellipse_35" class="st1" cx="-4824.5" cy="-61.4" rx="31.3" ry="31.6"/>
        <ellipse id="Ellipse_36" class="st4" cx="-4761.8" cy="-42.6" rx="26.4" ry="26.7"/>
        <ellipse id="Ellipse_38" class="st5" cx="-4906.8" cy="14.6" rx="37.2" ry="37.5"/>
      </g>
    </svg>
  </div>
  <div class="container">
    <header>
      <div class="">
        <h1> WELCOME TO MARKS PLAYROOM </h1>
      </div>
    </header>
    <div class="">
      <p>I am Mark Almond, a freelance Frontend Developer based in Southampton, Hampshire.</p>
      <p>This is my site showing some of my previous work and clients.</p>
    </div>
    <div class="">
      <h2>My Codes and Programs</h2>
    </div>
    <div class="">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1016 514"><defs><style>.cls-1,.cls-11,.cls-13,.cls-14,.cls-15,.cls-17,.cls-18,.cls-19,.cls-2,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-25,.cls-3,.cls-5{fill:none;}.cls-1{stroke:#707070;}.cls-11,.cls-13,.cls-14,.cls-15,.cls-17,.cls-18,.cls-19,.cls-2,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-5,.cls-8{stroke:#f90;}.cls-3{stroke:#399;}.cls-4{fill:#666;}.cls-11,.cls-13,.cls-14,.cls-15,.cls-17,.cls-18,.cls-19,.cls-20,.cls-21,.cls-22,.cls-23,.cls-24,.cls-5,.cls-8{stroke-width:6px;}.cls-5{stroke-dasharray:12.34 12.34;}.cls-6,.cls-9{isolation:isolate;fill:#fff;font-family:SegoeUI, Segoe UI;}.cls-6{font-size:16px;}.cls-7{letter-spacing:0.03em;}.cls-8{fill:#525252;stroke-dasharray:12.3 12.3;}.cls-9{font-size:15.86px;}.cls-10{letter-spacing:-0.02em;}.cls-11{stroke-dasharray:12.02 12.02;}.cls-12{letter-spacing:-0.04em;}.cls-13{stroke-dasharray:11.4 11.4;}.cls-14{stroke-dasharray:11.82 11.82;}.cls-15{stroke-dasharray:11.46 11.46;}.cls-16{letter-spacing:-0.09em;}.cls-17{stroke-dasharray:12.15 12.15;}.cls-18{stroke-dasharray:12.17 12.17;}.cls-19{stroke-dasharray:11.59 11.59;}.cls-20{stroke-dasharray:12.16 12.16;}.cls-21{stroke-dasharray:11.78 11.78;}.cls-22{stroke-dasharray:11.49 11.49;}.cls-23{stroke-dasharray:11.72 11.72;}.cls-24{stroke-dasharray:11.71 11.71;}.cls-25{stroke:#000;stroke-width:0.5px;}</style></defs><title>code-chart-2</title><g id="Layer_2" data-name="Layer 2"><line id="Line_2" data-name="Line 2" class="cls-1" x1="905.7" y1="239.4" x2="941.7" y2="170"/><line id="Line_2-2" data-name="Line 2" class="cls-1" x1="921.5" y1="358.2" x2="902.4" y2="315.9"/><line id="Line_4" data-name="Line 4" class="cls-1" x1="716" y1="172" x2="687" y2="80"/><line id="Line_5" data-name="Line 5" class="cls-1" x1="647" y1="70" x2="618" y2="101"/><line id="Line_angular_3" data-name="Line angular 3" class="cls-2" x1="722" y1="262" x2="718" y2="374"/><line id="Line_6" data-name="Line 6" class="cls-1" x1="560" y1="150" x2="430" y2="290"/><line id="Line_8" data-name="Line 8" class="cls-1" x1="399" y1="178" x2="171" y2="207"/><line id="Line_6-2" data-name="Line 6" class="cls-1" x1="551" y1="135" x2="486" y2="161"/><line id="Line_6-3" data-name="Line 6" class="cls-1" x1="554" y1="112" x2="497" y2="77"/><line id="Line_23" data-name="Line 23" class="cls-1" x1="239" y1="79" x2="154" y2="152"/><line id="Line_1" data-name="Line 1" class="cls-1" x1="943" y1="356.2" x2="961.5" y2="175.7"/><line id="Line_7" data-name="Line 7" class="cls-1" x1="455.5" y1="97.1" x2="450.5" y2="141.9"/><line id="Line_angular_4" data-name="Line angular 4" class="cls-2" x1="663" y1="447" x2="438.7" y2="465"/><line id="Line_angular_6" data-name="Line angular 6" class="cls-2" x1="84" y1="372" x2="134" y2="409"/><line id="Line_4-2" data-name="Line 4" class="cls-3" x1="679" y1="234" x2="446" y2="315"/><line id="Line_angular_5" data-name="Line angular 5" class="cls-2" x1="348" y1="347" x2="227" y2="410"/><line id="Line_8-2" data-name="Line 8" class="cls-1" x1="347" y1="308" x2="168" y2="237"/><line id="Line_angular_4-2" data-name="Line angular 4" class="cls-2" x1="661" y1="401" x2="469" y2="208"/><line id="Line_angular_5-2" data-name="Line angular 5" class="cls-2" x1="408" y1="207" x2="216" y2="396"/><line id="Line_6-4" data-name="Line 6" class="cls-1" x1="573" y1="160" x2="426" y2="443"/><line id="Line_angular_4-3" data-name="Line angular 4" class="cls-2" x1="664.58" y1="420.09" x2="441.59" y2="341.09"/><line id="Line_angular_4-4" data-name="Line angular 4" class="cls-2" x1="678" y1="388" x2="487" y2="92"/><line id="Line_angular_5-3" data-name="Line angular 5" class="cls-2" x1="376" y1="459" x2="229.6" y2="442.08"/><line id="Line_8-3" data-name="Line 8" class="cls-1" x1="386" y1="446" x2="146" y2="255"/><line id="Line_angular_5-4" data-name="Line angular 5" class="cls-2" x1="435" y1="96" x2="210" y2="392"/><line id="Line_8-4" data-name="Line 8" class="cls-1" x1="422" y1="74" x2="170" y2="174"/><g id="angular"><g id="angular-ellipse"><circle class="cls-4" cx="179" cy="436" r="55"/><circle class="cls-5" cx="179" cy="436" r="55"/></g><text class="cls-6" transform="translate(142.16 444.49)">ANGU<tspan class="cls-7" x="44.26" y="0">L</tspan><tspan x="52.26" y="0">AR</tspan></text></g><g id="js"><g id="js-ellipse"><circle class="cls-4" cx="441" cy="176" r="47"/><circle class="cls-8" cx="441" cy="176" r="47"/></g><text class="cls-9" transform="translate(417.96 182.48)">JS / <tspan class="cls-10" x="28.95" y="0">T</tspan><tspan x="36.95" y="0">S</tspan></text></g><g id="wordpress"><g id="wordpress-ellipse"><circle class="cls-4" cx="101" cy="202" r="76.5"/><circle class="cls-11" cx="101" cy="202" r="76.5"/></g><text class="cls-6" transform="translate(65.21 210.01)"><tspan class="cls-12">W</tspan><tspan x="14.32" y="0">ordpress</tspan></text></g><g id="scss"><g id="scss-ellipse"><circle class="cls-4" cx="406" cy="465" r="32.7"/><circle class="cls-13" cx="406" cy="465" r="32.7"/></g><text class="cls-6" transform="translate(387.82 460)">SCSS<tspan x="0" y="19.2">/ CSS</tspan></text></g><g id="bootstrap"><g id="bootstrap-ellipse"><circle class="cls-4" cx="394" cy="326" r="53"/><circle class="cls-14" cx="394" cy="326" r="53"/></g><text class="cls-6" transform="translate(360.81 318.49)">Bootstrap<tspan x="-15.65" y="19.2" xml:space="preserve"> / Foundation </tspan></text></g><g id="bower"><g id="bower-ellipse"><circle class="cls-4" cx="670" cy="46" r="36.5"/><circle class="cls-15" cx="670" cy="46" r="36.5"/></g><text class="cls-6" transform="translate(648.99 41.83)">Bower<tspan x="0" y="19.2">/ </tspan><tspan class="cls-16" x="10.62" y="19.2">Y</tspan><tspan x="18.05" y="19.2">arn</tspan></text></g><g id="webpack"><g id="webpack-ellipse"><circle class="cls-4" cx="715" cy="437" r="61.9"/><circle class="cls-17" cx="715" cy="437" r="61.9"/></g><text class="cls-6" transform="translate(683.19 443.83)"><tspan class="cls-12">W</tspan><tspan x="14.32" y="0">ebpack</tspan></text></g><g id="jquery"><g id="jquery-ellipse"><circle class="cls-4" cx="460.5" cy="58.5" r="46.5"/><circle class="cls-18" cx="460.5" cy="58.5" r="46.5"/></g><text class="cls-6" transform="translate(438.58 64.5)">Jquery</text></g><g id="ps"><g id="ps-ellipse"><circle class="cls-4" cx="964.5" cy="135.7" r="40.6"/><circle class="cls-19" cx="964.5" cy="135.7" r="40.6"/></g><text class="cls-6" transform="translate(955.75 142.72)">PS</text></g><g id="ai"><g id="ai-ellipse"><circle class="cls-4" cx="937" cy="397.7" r="42.6"/><circle class="cls-20" cx="937" cy="397.7" r="42.6"/></g><text class="cls-6" transform="translate(928.88 404.71)">Ai</text></g><g id="php"><g id="php-ellipse"><circle class="cls-4" cx="273.5" cy="55" r="45"/><circle class="cls-21" cx="273.5" cy="55" r="45"/></g><text class="cls-6" transform="translate(258.99 60.52)">PHP</text></g><g id="xd"><g id="xd-ellipse"><circle class="cls-4" cx="883.5" cy="276.7" r="43.9"/><circle class="cls-22" cx="883.5" cy="276.7" r="43.9"/></g><text class="cls-6" transform="translate(874.15 283.72)">XD</text></g><g id="node"><g id="node-ellipse"><circle class="cls-4" cx="724" cy="217" r="48.5"/><circle class="cls-23" cx="724" cy="217" r="48.5"/></g><text class="cls-6" transform="translate(700.01 223.49)">node.js</text></g><g id="gulp"><g id="gulp-ellipse"><circle class="cls-4" cx="590" cy="124" r="41"/><circle class="cls-24" cx="590" cy="124" r="41"/></g><text class="cls-6" transform="translate(573.48 128.33)">Gulp</text></g><g id="api"><g id="api-ellipse"><circle class="cls-4" cx="54" cy="349" r="41"/><circle class="cls-24" cx="54" cy="349" r="41"/></g><text class="cls-6" transform="translate(41.23 356.49)">API</text></g><g id="mark-amond"><path class="cls-25" d="M796.56,495.66c-.13-1.61-.19-3.18-.19-4.73,0-2.29.07-4.19.1-5.72l.14-6.57c0-.95,0-2.11.09-3.47,0-.79,0-1.37.08-1.75l.07-1L797,471l.55-.49a8.37,8.37,0,0,1,.8-.5,6.54,6.54,0,0,1,1.79-.85.48.48,0,0,1,.49.32,6,6,0,0,1,.37,1.14c.14.54.27,1,.39,1.37.24.64.44,1.2.59,1.66l.09.25,1.16,3c.74,1.92,1.7,2.83,2.85,2.74a2.07,2.07,0,0,0,1.28-.56c.27-.23.51-.45.73-.66a6,6,0,0,0,.7-.77c1-1.14,1.6-1.93,1.94-2.38s.85-1.21,1.55-2.31a18,18,0,0,1,1.09-1.62,6.43,6.43,0,0,1,.79-.84,9.07,9.07,0,0,1,1.41-1.13,2.42,2.42,0,0,1,1-.38,1.14,1.14,0,0,1,.76.16.6.6,0,0,1,.26.52c0,1.85-.2,3.86-.43,6s-.63,4.89-1.16,8.19l-.71,4.26-.07.51c-.2,1-.35,1.86-.43,2.48a7.46,7.46,0,0,0-.07,1.59.5.5,0,0,1-.12.37,4,4,0,0,1-1.29.77,3.44,3.44,0,0,1-.83.21l-.54.08.06-1.54.07-1.36,0-.9,0-1.61.09-3,.07-2.25.1-2,.34-6.23-.29.37-.19.31-.92,1.53a22.19,22.19,0,0,1-2.52,3.8c-1.5,1.63-2.81,2.5-3.94,2.58-1.52.12-2.94-1.23-4.28-4.06l-.17-.41-.39,3.34-.09,1.12-.11,1.83-.18,2.79-.2,2.94a7.53,7.53,0,0,1-.13,3.22q-.33.57-2.19,1Z"/><path class="cls-25" d="M829,488.46l-.78,1.06a21.19,21.19,0,0,1-2.07,2.48,8.81,8.81,0,0,1-4.56,2.24,3.37,3.37,0,0,1-2.32-.54,1.85,1.85,0,0,1-.81-1.68,8.83,8.83,0,0,1,.28-1.52l.3-1.1-.66.7a.54.54,0,0,1-.52.18.49.49,0,0,1-.42-.36,1.08,1.08,0,0,1,0-.71,2.71,2.71,0,0,1,.58-.9l1-1.22.46-.5,1.52-1.65.49-.54c.53-.54,1.12-1.08,1.76-1.63s1.26-1,1.82-1.43a20.48,20.48,0,0,1,3.06-1.78,6.92,6.92,0,0,1,2.25-.66,1.76,1.76,0,0,1,1.65.59.46.46,0,0,1,.1.35.37.37,0,0,1-.16.29,6.14,6.14,0,0,1-.53.33,3.31,3.31,0,0,1-.83.31,9.59,9.59,0,0,0-1.69.79,24.17,24.17,0,0,0-2.72,1.87c-.7.58-1.28,1.09-1.76,1.55a11,11,0,0,0-1.14,1.24,9.36,9.36,0,0,0-1.78,3.28,1.27,1.27,0,0,0,0,.5,1,1,0,0,0,1,1,2.76,2.76,0,0,0,1.18-.37,10.58,10.58,0,0,0,1.62-1.27c.24-.26.41-.42.5-.5.3-.33.64-.73,1-1.19l.71-1c1.24-1.88,2-3,2.37-3.46a2,2,0,0,1,1.29-.85h.43a1.33,1.33,0,0,1,1.39,1.36,2.49,2.49,0,0,1,0,.39,7.88,7.88,0,0,1-.57,2.33l-.24,1.05a11.81,11.81,0,0,0-.08,1.79,2.22,2.22,0,0,0,.31,1,.55.55,0,0,0,.81.18,7.55,7.55,0,0,0,.71-.51,12,12,0,0,0,1.09-1.12l.4-.43a10.62,10.62,0,0,1,1-1.23A.68.68,0,0,1,837,487a.57.57,0,0,1,.44.22.59.59,0,0,1,.11.49,3.36,3.36,0,0,1-.52,1.15c-.39.48-.75.92-1.07,1.33a12.21,12.21,0,0,1-2.42,2,3.63,3.63,0,0,1-.8.42,3.86,3.86,0,0,1-.79.17,2.24,2.24,0,0,1-2.47-1.49,4.41,4.41,0,0,1-.16-.65c0-.25-.09-.72-.14-1.43v-1Z"/><path class="cls-25" d="M841,481.55l-.26-.19a2.08,2.08,0,0,1-.68-.91c0-.24.29-.61.92-1.11l1.21-.91a2.4,2.4,0,0,1,1-.29,2.69,2.69,0,0,1,2.13.82,5.07,5.07,0,0,1,1.35,2.69c.07.38.12.67.14.88a9.85,9.85,0,0,1,0,1.7c-.06.64-.17,1.42-.34,2.36l-.11.44-.5,2.32,0,.26-.14.9,1-.4a7.83,7.83,0,0,0,3-2.33l1.27-1.57c.19-.22.45-.13.77.3a1.32,1.32,0,0,1,.29.59c0,.35-.59,1.21-1.87,2.57a12.36,12.36,0,0,1-2.53,1.9,14.71,14.71,0,0,1-2,1A5.1,5.1,0,0,1,844,493c-1,.08-1.52-.24-1.57-1a2.91,2.91,0,0,1,0-.75l.24-1,.48-1.65.11-.4.29-.91a8.77,8.77,0,0,0,.33-2.63,2.14,2.14,0,0,0-.45-1.27,1.81,1.81,0,0,0-1-.58l-.66.73-1,1.07c-.39.44-.79.87-1.18,1.3-.2.24-.43.52-.69.88a15,15,0,0,1-1.34,1.72.88.88,0,0,1-.71.29c-.44-.06-.62-.26-.55-.6a2.31,2.31,0,0,1,.29-.95l1.6-1.84a9,9,0,0,0,.88-1.13c.43-.61.85-1.27,1.27-2Z"/><path class="cls-25" d="M856,489.78a5.19,5.19,0,0,0,.8-1.17l.75-1.91c.17-.49.32-.89.44-1.21a2.69,2.69,0,0,0,.19-.73l-.09-1.24v-1a1.9,1.9,0,0,1,.49-1.1,1.38,1.38,0,0,1,1-.47,1.5,1.5,0,0,1,.69.13l.5-.9q.56-1,1-1.89c.26-.59.44-1.05.54-1.36l.58-2.15a1.06,1.06,0,0,1,.72-.42,1.07,1.07,0,0,1,.84.3,1.68,1.68,0,0,1,.41,1.11,5,5,0,0,1-.11,1.36,8.9,8.9,0,0,1-.68,1.8l-1,2.19,0,.11-.22.33-.29.45a12.18,12.18,0,0,1,1.69,1.53c.47.53,1.1,1.34,1.9,2.45a4.6,4.6,0,0,0,.74.79,1,1,0,0,0,.62.17,1.53,1.53,0,0,0,1.21-1,6.36,6.36,0,0,1,.8-1.17.57.57,0,0,1,.41-.21.69.69,0,0,1,.37.11,1.08,1.08,0,0,1,.42.9,1.1,1.1,0,0,1-.21.71,12.44,12.44,0,0,1-1.1,1.25l-1.49,1.5-.13.12-.82.56a4.79,4.79,0,0,1-1.39.39c-1,.08-2.08-.68-3.32-2.28a9.45,9.45,0,0,0-.7-.73,14.23,14.23,0,0,0-1.25-1l-.56,1-.16.3-1.22,2.2a7.49,7.49,0,0,1-2.33,2.71,1.79,1.79,0,0,1-.8.28q-1.2.09-1.44-.87a9.89,9.89,0,0,1-.27-1.5,8.52,8.52,0,0,1,0-1.23c0-.51.09-1.19.17-2l.05-.65.07-.5.1-.58-.72.8-.16.23a9.35,9.35,0,0,1-.72.91.86.86,0,0,1-.72.38.53.53,0,0,1-.41-.22.61.61,0,0,1-.14-.42,2.79,2.79,0,0,1,.55-1.21l1.27-1.53.55-.76a7.47,7.47,0,0,0,1.07-2.4,25.87,25.87,0,0,0,.35-3.81l0-.82.18-2.33.11-1.86.11-1.3.33-3.2.39-3.24a1.48,1.48,0,0,1,.73-.31,1.84,1.84,0,0,1,1.51.71,2.74,2.74,0,0,1,.52,1,5.91,5.91,0,0,1,.28,1.56,21.58,21.58,0,0,1,0,3l-.15,1.29a21.94,21.94,0,0,1-.5,2.79l-.05.22-.5,1.86-.14.54-.11.4q-.43,1.81-1,5.22l-.22,1.3,0,.29-.32,2.74a12.11,12.11,0,0,0-.12,1.79A2,2,0,0,0,856,489.78Z"/><path class="cls-25" d="M884.16,478.63l-.27.2a1.8,1.8,0,0,1-.8.31.48.48,0,0,1-.56-.39,3.6,3.6,0,0,1-.07-.42,2.09,2.09,0,0,1,0-.47v-.39l.1-1a2,2,0,0,1,.39-1.19,2.71,2.71,0,0,1,1.38-.34.17.17,0,0,0,.06-.15,5.32,5.32,0,0,0,.08-1.82,3.18,3.18,0,0,1,0-.61c.07-.57.13-1.14.19-1.69l.12-1.22a30.1,30.1,0,0,1,.5-3.39,22.33,22.33,0,0,1,.85-2.67l-.42-.79,1.15-.37.6-.59,1.28-.49a4,4,0,0,1,1.23-.34.8.8,0,0,1,1,.81.94.94,0,0,1-.37.85l.55.14.91.25.58.17a7.26,7.26,0,0,1,2.07.91,4.78,4.78,0,0,1,.72,2l.39,1.78.12.6.2,1.31.23,1.59a6.25,6.25,0,0,0,.17,1.3c.06.12.3.18.73.2a.65.65,0,0,1,.21.41c0,.68-.21,1-.81,1.09l.1,1.28.06,1.28.09,1.6.07,1.39,0,.74.1,2.24.07,2.21v.43l0,1.78A1.52,1.52,0,0,1,896,488c-.06-.81-.14-1.53-.22-2.18s-.24-1.63-.46-2.94l-.07-.39-.4-2.47-.1-.42-.36-2.29-.12-.67L894,475l-.93.36-.87.35-1.63.62-1.79.75-1,.43-.87.35-.16,1.05-.15.94-.26,2.09-.63,4.4-.29,2.3c0,.5-.42.9-1.15,1.2a1.22,1.22,0,0,1-.64.08c-.36-.09-.53-.26-.5-.49s0-.62.06-.85a10.6,10.6,0,0,1,.18-1.07c0-.21.11-1,.22-2.35s.22-2.8.34-4.36l0-.36Zm9.51-5.37a13,13,0,0,0-.24-1.68c-.11-.5-.29-1.23-.53-2.19a13.81,13.81,0,0,0-.93-2.9,3.59,3.59,0,0,0-1.69-1.07l-.81-.33-.75,2.31-.25.87-.19.84-.23,1.19-.31,1.49-.13.65-.21,1.05-.2,1,1.69-.28,2.18-.36A26.29,26.29,0,0,0,893.67,473.26Z"/><path class="cls-25" d="M898.41,484a2.06,2.06,0,0,1,.18-1.19,10.11,10.11,0,0,1,1.29-1.56l.65-.73c.55-.69,1-1.32,1.39-1.89v-2.25l0-1.4v-2.85l0-.93L902,470a25.78,25.78,0,0,1,.84-5.53,7,7,0,0,1,1.82-3,7.77,7.77,0,0,1,1.48-1.21,1.3,1.3,0,0,1,.49-.15c.8-.06,1.39.51,1.77,1.72a5.8,5.8,0,0,1,.24,1.3,23.93,23.93,0,0,1-.19,3.58,19.1,19.1,0,0,1-.8,3.7,43.15,43.15,0,0,1-1.83,4.75l-.31.63-.28.59c0,.45.08.9.14,1.34a10.84,10.84,0,0,0,.25,1.31q1.21,5.69,3.81,5.49a5.3,5.3,0,0,0,2.25-.89,2.54,2.54,0,0,0,.8-.64l1.53-1.54c.13-.15.36-.11.68.13a.76.76,0,0,1,.33.54c0,.45-.41,1.09-1.35,1.93l-1.8,1.63a3.45,3.45,0,0,1-.49.38,5.35,5.35,0,0,1-.6.31,9.81,9.81,0,0,1-3.28,1,4.19,4.19,0,0,1-3.4-1.1,6.88,6.88,0,0,1-1.79-3.78l-.11-.92,0-.43v-.43l-.29.35-.39.45-.91,1.18a7.06,7.06,0,0,1-.86,1.08,1.07,1.07,0,0,1-.68.32A2.83,2.83,0,0,1,898.41,484Zm8.29-16.09.31-1.52a3.85,3.85,0,0,0,.09-1.15c0-.38-.2-.58-.65-.59a1,1,0,0,0-.68.41,2.58,2.58,0,0,0-.48,1.25l-.49,2.89c-.1.81-.18,1.66-.25,2.53s-.11,1.68-.15,2.42a16.46,16.46,0,0,0,1.19-2.42,26.22,26.22,0,0,0,.92-3.09Z"/><path class="cls-25" d="M913.77,482.78a2.87,2.87,0,0,1,0-.75,3.55,3.55,0,0,1,.28-.74l1.38-1.6,1.52-2,.84-1.17,2.07-2.8a10.94,10.94,0,0,1,1-1.21,2.84,2.84,0,0,1,.69-.52,4.51,4.51,0,0,1,1.57-.51c.56,0,.89.11,1,.44a6.63,6.63,0,0,1,.15.81c0,.2,0,.4,0,.59s0,.37,0,.46a5.16,5.16,0,0,1,0,.75l-.08,2.58,0,.17,0,.51-.12.68.44-.71.64-1,.6-1,.58-.82.67-1c.2-.28.4-.54.62-.8l.2-.23,1.21-1.38a5.76,5.76,0,0,1,1.23-1.12,2.23,2.23,0,0,1,1-.4.73.73,0,0,1,.83.61c0,.36.05.63.07.82a2,2,0,0,1,0,.5l-.25,2.76c-.14,1-.39,2.39-.76,4.06l-.28,1a21.71,21.71,0,0,1,2-2.61,7.57,7.57,0,0,1,.54-.6l.85-.83a6.05,6.05,0,0,1,3-1.62c1.37-.11,2.56,1.21,3.58,3.94l.32,1,.35,1.29.25.87.27.77a.54.54,0,0,0,.56.28,2.43,2.43,0,0,0,1.16-.63l.92-.85a7.64,7.64,0,0,0,.71-.77,13.32,13.32,0,0,1,1-1.09,1,1,0,0,1,.62-.32,2.74,2.74,0,0,1,.61.07,3.93,3.93,0,0,1-.59,1.86,10.86,10.86,0,0,1-1.93,2.07,5.63,5.63,0,0,1-3.05,1.66c-1,.08-1.91-.54-2.74-1.85l-.29-.52-.66-1.12c-.8-1.37-1.73-2-2.79-1.93a3.19,3.19,0,0,0-2,1.19,8.64,8.64,0,0,0-.94,1.25,21.23,21.23,0,0,0-1.38,2.46l-.34.74-.73,1.66-.06.11a1.31,1.31,0,0,1-1.09.62.94.94,0,0,1-.7-.19.67.67,0,0,1-.25-.56l.19-2.19a2.54,2.54,0,0,0,0-.39c0-.91,0-1.69.07-2.36s0-1.14,0-1.41,0-.59-.06-.94a6.47,6.47,0,0,0-.2-1.18c-.1-.41-.23-.85-.38-1.31l-1.4,1.82-.48.68-.9,1.28c-.3.43-.65,1-1.06,1.58s-.87,1.44-1.42,2.43l-.71,1.34-.38.67-.85.1c-.94.07-1.44-.2-1.49-.81a5.87,5.87,0,0,1,.34-1.71l.14-.47c.27-1.09.46-2,.56-2.63a7.19,7.19,0,0,0,.1-1.74,5.74,5.74,0,0,0-.46-1.82l-.49.61-.36.42L917.16,480l-.43.5-1.06,1.24a8.8,8.8,0,0,0-.8,1c0,.08-.15.12-.31.13A5.47,5.47,0,0,1,913.77,482.78Z"/><path class="cls-25" d="M956.19,468.82l1.75-.49a2.08,2.08,0,0,1,.54-.11l.41,0c2.48-.2,3.83,1.14,4.05,4a12.36,12.36,0,0,1-1.06,5.86,10.18,10.18,0,0,1-2.09,2.8,8.75,8.75,0,0,1-5.37,2.63,6.57,6.57,0,0,1-1.17,0,6.48,6.48,0,0,1-3.5-1.09,3.66,3.66,0,0,1-1.22-2.72,5.73,5.73,0,0,1,0-.68l.07-.58-.5.58L948,479a8.81,8.81,0,0,1-1,1.22.66.66,0,0,1-.56.19.55.55,0,0,1-.5-.57,2.07,2.07,0,0,1,.28-1,2.09,2.09,0,0,1,.35-.49c.59-.69,1.23-1.43,1.93-2.22a2.92,2.92,0,0,0,.23-.27,5.09,5.09,0,0,0,.47-.69,5.28,5.28,0,0,0,.47-1c.12-.33.3-1,.54-1.88l.26-.74a5.48,5.48,0,0,1,.78-1.45,14.47,14.47,0,0,1,2.1-2.24,2.92,2.92,0,0,1,1.57-.71,1.31,1.31,0,0,1,.91.25,1,1,0,0,1,.45.78A1.12,1.12,0,0,1,956.19,468.82Zm4.62,7.21a7.2,7.2,0,0,0,0-1.47,4.29,4.29,0,0,0-.85-2.45,2.39,2.39,0,0,0-1.54-1,6.36,6.36,0,0,0-1.2-.07,2.61,2.61,0,0,0-1,.25,1.91,1.91,0,0,0-.67.55c-.36.53-.62.88-.77,1.06a2.14,2.14,0,0,1-.37.35,4.47,4.47,0,0,0-1,.92,5.8,5.8,0,0,0-.48,1.59,8,8,0,0,0-.2,2.33,3.63,3.63,0,0,0,.23,1.09c.55,1.53,1.37,2.25,2.48,2.16a6.18,6.18,0,0,0,2.73-1.17A5.43,5.43,0,0,0,960.81,476Z"/><path class="cls-25" d="M962.9,479.08a2.45,2.45,0,0,1,.44-1.75l1.41-1.6.23-.27,1.83-2.17,2.23-2.53,2.18-2.24a7.58,7.58,0,0,1,1.85-1.49,1.25,1.25,0,0,1,.59-.19c.59,0,.92.09,1,.4a8.16,8.16,0,0,1,.12.87,6.15,6.15,0,0,1,0,1c-.08.77-.15,1.42-.21,1.94s-.13,1.07-.23,1.63c0,.05-.15.65-.4,1.81l-.27,1.13-.24,1,.35-.49.87-1.21.07-.11.58-.72c.24-.28.5-.56.76-.83s.51-.49.73-.68a5.58,5.58,0,0,1,3-1.62q2.09-.15,3.56,4.08l.33,1,.59,2.14c.18.76.46,1.08.85.93a2.67,2.67,0,0,0,.72-.4q.27-.21,1.14-1l.46-.5q.92-1.11,1.23-1.44a1,1,0,0,1,.56-.34,3.34,3.34,0,0,1,.58.1,3.07,3.07,0,0,1-.44,1.9,10.9,10.9,0,0,1-2.22,2.26,5.59,5.59,0,0,1-2.69,1.49c-.85.07-1.6-.58-2.25-1.93l-.88-1.65c-.77-1.39-1.72-2-2.86-1.95a3.52,3.52,0,0,0-2.26,1.24,11.53,11.53,0,0,0-1,1.25,27.9,27.9,0,0,0-1.48,2.54l-.38.71-.7,1.52-.06.14a1.87,1.87,0,0,1-1.75.92,1.25,1.25,0,0,1-1.1-.38,1.44,1.44,0,0,1-.34-1.11c.17-1.2.32-2.14.43-2.82.05-.24.18-.78.37-1.63a5.1,5.1,0,0,0,.14-.8c.05-.41.1-1,.13-1.76l.07-1v-1.82l-.87.71a25.51,25.51,0,0,0-2.92,2.51c-.33.34-.69.73-1.08,1.19l-.72.84c-.65.88-1.13,1.33-1.43,1.36A5,5,0,0,1,962.9,479.08Z"/><path class="cls-25" d="M998.43,465.12l0-.4v-.36l.11-.9.09-1.11c.22-1.54.45-2.87.7-4a9.34,9.34,0,0,1,.36-1.35c.07-.24.16-.5.26-.77.44-1.12.75-1.87.93-2.24a2.56,2.56,0,0,1,.62-.85,1.1,1.1,0,0,1,.69-.32.91.91,0,0,1,.84.34,1.61,1.61,0,0,1,.37.88q.06.49.09,1c0,.5.07.9.1,1.2a6.73,6.73,0,0,1,0,1.17c-.05.42-.18,1.31-.38,2.68-.14,1-.43,2.38-.86,4.17l-.58,2.22,0,.22-.15,1.26.49,2.21.38,1.72.15.63.19.63c.22.7.39,1.19.51,1.48a8.46,8.46,0,0,0,.38.8,1.44,1.44,0,0,0,1.31.76,2.18,2.18,0,0,0,1.4-.75c.44-.46.7-.73.76-.81a4.11,4.11,0,0,0,.46-.53.38.38,0,0,1,.34-.2.77.77,0,0,1,.59.24.58.58,0,0,1,.18.41,1.47,1.47,0,0,1-.42,1l-.95,1.14-.07.08a4.94,4.94,0,0,1-2.89,1.86c-.87.07-1.78-.47-2.72-1.61a9,9,0,0,1-1-1.53,15.35,15.35,0,0,1-1-2.21l-.22-.62-.16-.63-.61,1.79-1,2.22a16.69,16.69,0,0,1-2.29,3.35,3.18,3.18,0,0,1-2,1.12,2.08,2.08,0,0,1-.65-.06,2.6,2.6,0,0,1-2.2-2.68,8.9,8.9,0,0,1,.08-1.8l.1-.54-.42.53a12.58,12.58,0,0,1-.87,1,.7.7,0,0,1-.51.18c-.48-.06-.66-.32-.56-.78a2.17,2.17,0,0,1,.4-.85l.43-.53,1.17-1.48.19-.23,1.65-2.3.48-.65a35,35,0,0,1,3.22-3.67A9,9,0,0,1,998.43,465.12Zm-1.19,4-1,1.57-.91,1.53-.16.3-.19.34c-.5,1.13-.85,2-1,2.55a4,4,0,0,0-.23,1.43,1.76,1.76,0,0,0,.11.53,5.28,5.28,0,0,0,.3.58,3.2,3.2,0,0,0,.9-.74,14,14,0,0,0,.92-1.54l.93-1.78.22-.45,1-2.14.39-.93.28-.62-.08-.53-.07-.5-.09-.67-.09-.64L997.3,469Z"/></g></g></svg>
    </div>
  </div>

  <div class="col-2">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          viewBox="0 0 345.8 408.7" style="enable-background:new 0 0 345.8 408.7;" xml:space="preserve">
      <style type="text/css">
        .st0{opacity:0.52;fill:#FFFFFF;enable-background:new    ;}
        .st1{opacity:0.84;fill:#FFFFFF;enable-background:new    ;}
        .st2{opacity:0.16;fill:#FFFFFF;enable-background:new    ;}
        .st3{opacity:0.83;fill:#FFFFFF;enable-background:new    ;}
        .st4{opacity:0.9;fill:#FFFFFF;enable-background:new    ;}
        .st5{fill:#FF6C3E;}
        .st6{fill:#FFFFFF;}
      </style>
      <g id="squares" transform="translate(6579.183 98.493)">
        <rect id="Rectangle_21" x="-6311.3" y="-3" class="st0" width="13.8" height="13.9"/>
        <rect id="Rectangle_22" x="-6301.9" y="17.4" class="st0" width="27.6" height="27.8"/>
        <rect id="Rectangle_23" x="-6355.7" y="-54.7" class="st0" width="27.6" height="27.8"/>
        <rect id="Rectangle_24" x="-6334" y="-3" class="st0" width="27.6" height="27.8"/>
        <rect id="Rectangle_25" x="-6310.8" y="-22.9" class="st0" width="26.6" height="26.8"/>
        <rect id="Rectangle_26" x="-6324.6" y="-54.7" class="st0" width="27.6" height="27.8"/>
        <rect id="Rectangle_27" x="-6381.3" y="-18.4" class="st0" width="17.8" height="17.9"/>
        <rect id="Rectangle_28" x="-6344.8" y="31.3" class="st0" width="40.4" height="40.8"/>
        <rect id="Rectangle_29" x="-6336" y="-17.5" class="st0" width="15.8" height="15.9"/>
        <rect id="Rectangle_30" x="-6369.5" y="-52.8" class="st1" width="11.8" height="11.9"/>
        <rect id="Rectangle_31" x="-6369.5" y="-82.1" class="st1" width="23.7" height="23.9"/>
        <rect id="Rectangle_32" x="-6375.4" y="-92" class="st1" width="5.9" height="6"/>
        <rect id="Rectangle_33" x="-6432.1" y="-98.5" class="st1" width="47.4" height="47.7"/>
        <rect id="Rectangle_34" x="-6412.9" y="-37.3" class="st1" width="37.5" height="37.8"/>
        <rect id="Rectangle_35" x="-6369.5" y="55.1" class="st1" width="23.7" height="23.9"/>
        <rect id="Rectangle_36" x="-6324.6" y="107.8" class="st1" width="27.6" height="27.8"/>
        <rect id="Rectangle_37" x="-6297.5" y="69.6" class="st1" width="18.7" height="18.9"/>
        <rect id="Rectangle_38" x="-6277.8" y="-0.5" class="st2" width="22.7" height="22.9"/>
        <rect id="Rectangle_39" x="-6278.7" y="-30.9" class="st2" width="24.7" height="24.9"/>
        <rect id="Rectangle_40" x="-6314.8" y="-78.6" class="st2" width="16.8" height="16.9"/>
        <rect id="Rectangle_41" x="-6254.1" y="-6.5" class="st2" width="20.7" height="20.9"/>
        <rect id="Rectangle_42" x="-6260.5" y="45.2" class="st2" width="12.8" height="12.9"/>
        <rect id="Rectangle_44" x="-6280.7" y="26.3" class="st3" width="12.8" height="12.9"/>
        <rect id="Rectangle_45" x="-6364.6" y="3.9" class="st3" width="13.8" height="13.9"/>
        <rect id="Rectangle_46" x="-6448.9" y="-33.4" class="st3" width="47.4" height="47.7"/>
        <rect id="Rectangle_47" x="-6437.6" y="14.4" class="st3" width="49.3" height="49.7"/>
        <rect id="Rectangle_48" x="-6361.6" y="95.4" class="st4" width="33.5" height="33.8"/>
        <rect id="Rectangle_49" x="-6386.8" y="130.2" class="st4" width="72" height="72.6"/>
        <rect id="Rectangle_50" x="-6379.4" y="246.1" class="st4" width="43.4" height="43.8"/>
        <rect id="Rectangle_51" x="-6532.3" y="26.3" class="st4" width="57.2" height="57.7"/>
        <rect id="Rectangle_52" x="-6527.3" y="-70.2" class="st4" width="85.8" height="86.5"/>
        <rect id="Rectangle_53" x="-6579.2" y="-51" class="st5" width="76" height="76.6"/>
        <rect id="Rectangle_54" x="-6465.2" y="55.1" class="st6" width="66.1" height="66.6"/>
        <rect id="Rectangle_55" x="-6447.4" y="154.1" class="st5" width="96.7" height="97.5"/>
        <rect id="Rectangle_56" x="-6421.8" y="269.4" class="st6" width="40.4" height="40.8"/>
      </g>
    </svg>
  </div>
</div>
<div class="container-fluid">
  <svg version="1.1" id="linesBG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 1980 452.6" style="enable-background:new 0 0 1980 452.6;" xml:space="preserve">
  <style type="text/css">
    .st0{opacity:0.55;clip-path:url(#SVGID_2_);fill:none;stroke:#707070;enable-background:new    ;}
    .st1{clip-path:url(#SVGID_2_);fill:none;stroke:#FF6C3E;}
  </style>
  <g>
    <defs>
      <rect id="SVGID_1_" y="0" width="1980" height="452.6"/>
    </defs>
    <clipPath id="SVGID_2_">
      <use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
    </clipPath>
    <path id="Path_19" class="st0" d="M-36.2-34.6C-24.4-16.2,23,499.2,26.4,487.5S158.2-27.9,158.2-21.2s145.3,528.8,145.3,528.8
      S-124.1,187-36.2,170.2S1192.4-14.5,1197.5-14.5s812.9,223.3,812.9,223.3s-496.9,261.9-513.8,258.5S452.2-21.2,452.2-21.2
      L78.7,479.1l944.7-500.3L567.2,479.1l32.1-500.3l564.5,500.3c0,0,331.2-507,343.1-500.3s143.7,500.3,143.7,500.3L819-21.2
      L4.4,353.2l1994.2-48.7L1684.2-21.2l-248.4,488.6l-490.1-502L535,479.1L284.9-21.2l140.3,500.3l694.6-493.6l204.5,481.8
      l510.4-488.5l153.8,157.8l-123.4,330.7L1435.8-21.2L494.5,479.1L26.4-14.5L-51.4,103l731.8,364.3l605-488.5l-54.1,475.1L1042-21.2
      L886.6,453.9L509.7-34.6"/>
    <path id="Path_20" class="st1" d="M1980,476.3c-18.6-39.7-253.5-492.6-253.5-492.6L1473,455.2L1310.8-33.2
      c0,0,459.7,481.7,463.1,488.4S2029,76.7,2003.7,78.4S-27.7,12.4-27.7,12.4s241.7,501.9,243.4,491.8S391.4-33.2,403.2-23
      s-32.1,517.1-32.1,517.1L1074-24.3l12-8.8L-21,66.5c0,0,444.5,485,481.7,464.8S1135-23,1135-23l912.6,491.8l-43.9-180.8
      c0,0-823-324.5-828.1-321.1S-26,431.6-27.7,424.8s0-136.9,0-136.9S1006.6-14.6,1015-16.3S2029,529.6,2029,511
      s-11.8-295.8-11.8-295.8L1126.5-41.6L2047.6,511l-30.4-451.2l-207.9-92.9c0,0-187.6,539.1-192.7,527.3s-267-535.7-267-535.7
      l-96.3,535.7L1030.2-56.8"/>
  </g>
  </svg>

    
  <div class="container">
    <div class="header-container area-title bg-orange">
      <h1 class="area-title">
          Previously worked with
      </h1>
    </div>
    <div id="">
        <app-carousel></app-carousel>
    </div>
  </div>
</div>
<div class="container-fluid bg-orange">
  <div class="container">
    <div>
        <h1 class="area-title">
            Also worked with
        </h1>
    </div>
    <div class="gallery">
     <img src="../assets/images/SVG/university_of_portsmouth_logo.svg" alt="University of Portsmouth logo">
     <img src="../assets/images/SVG/vodafone_logo.svg" alt="vodafone logo">
     <img src="../assets/images/SVG/university-of-southampton_logo.svg" alt="University of Southampton logo">
     <img src="../assets/images/SVG/condor_ferries_logo.svg" alt="Condor Ferries logo">
    </div>
  </div>
  <div class="container-fluid bg-orange">
      <div class="container">
        <div>
          <p>mark@marks-playroom.co.uk</p>
        </div>
        <div class="">
       
        </div>
      </div>
</div>